div{
    font-family: 'Moirai One', cursive;
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
    color: rgb(18, 4, 63);
}
.button{
    margin-top: 200px;
    text-align: center;
}
body {
    background-image: url('https://i.pinimg.com/originals/7d/09/5a/7d095ae81e099c20e7db776ea1a6e2ea.gif'); 
    background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

