
body {
    background-image: url('https://images3.alphacoders.com/129/1298880.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajustar la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Creepster', cursive;
    font-family: 'Oi', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Tilt Prism', cursive;
    color: rgb(27, 3, 59);
}

div{
    text-align: center;
    color: beige;
}

